@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

/* Navigation - Header */

header{
   display: flex;
   justify-content: space-between;
   margin: 1.9rem 2rem;
   
}

header img{
   margin-top: 0.5rem;
   margin-left: 2rem;
   
}


ul{
   width: 24rem;
   display: flex;
   justify-content: space-evenly;
   margin-top: 1.78rem;
   margin-right: 2rem;
}


li{
   list-style: none;
}

ul a{
   text-decoration: none;
   font-size: 1rem;
   font-weight: 600;
   color: #112D4E;
}

ul a:hover{
   color: #57A0D3;
   
}

.navbar-btn{
   display: none;
}

/* Javascript part */
header.fixed {
   position: fixed;
   top: 0;
   width: 100%;
   height: 4.5rem;
   background-color: #fff; /* Change to your desired background color */
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
   margin: 0;
   z-index: 1000;
 }


 /* Article */

 article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50rem
   
 }

 article p{
    width: 43rem;
    
    
 }

 p span{
   display: inline;
 }

 h1{
    font-size: 4rem;
    font-weight: 700;
 }

 /* Footer */

 footer{
   height: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #1E3D58;
   color: #E8EEF1;
}

footer a{
  margin: 0 1rem;
  color: #E8EEF1;

}

footer a:hover{
   color: #57A0D3;

}


@media(max-width: 750px){
   header{
      justify-content: space-evenly;
   }

   header img{
      width: 260px;
      margin: 0.5rem 0 0 0;
   }
  
  ul {
      display: none;
      flex-direction: column;
      width: 50%;
      height: 100vh;
      position: absolute;
      background-color: #fff; 
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      top: -1.7rem;
      left: 0;
      opacity: 0.95;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
     
  }

  li a{
      margin-left: -2rem;
      font-size: 1.2rem;
  }


    .navbar-btn{
        display: block;
        cursor: pointer;
        margin-top:  1.3rem;
        margin-right: 0.2rem;
     }

  

    ul.show {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    

   article{
      height: 34rem;
      margin-top: 3rem;
   }
  
   article p{
      width: 20rem;
    
      
   }
  
   p span{
     display: inline;
   }
  
   h1{
      font-size: 2rem;
      font-weight: 700;
   }

}