@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

 /* Navigation - Header */

 header{
   display: flex;
   justify-content: space-between;
   margin: 1.9rem 2rem;
   
}

header img{
   margin-top: 0.5rem;
   margin-left: 2rem;
   
}


ul{
   width: 24rem;
   display: flex;
   justify-content: space-evenly;
   margin-top: 1.78rem;
   margin-right: 2rem;
}

li{
   list-style: none;
}

ul a{
   text-decoration: none;
   font-size: 1rem;
   font-weight: 600;
   color: #112D4E;
}

ul a:hover{
   color: #57A0D3;
   
}

.navbar-btn{
   display: none;
}

/* Javascript part */
header.fixed {
   position: fixed;
   top: 0;
   width: 100%;
   height: 4.5rem;
   background-color: #fff; /* Change to your desired background color */
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
   margin: 0;
   z-index: 1000;
 }


#heading{
    font-size: 2.7rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E3D58;
 }

 .scrolls{
   display: flex;
   justify-content: space-between;
   margin: 0 2rem 0 2rem;
   height: 3.5rem;
 }

 .big{
   height: 80rem;
   display: flex;
   justify-content: center;
 }

 #main{
   height: 70rem;
   width: 120rem;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   grid-gap: 1.5rem
 }

 
 .projects-container{
    background: #E8EEF1;
    width: 25rem;
    height: 29rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #1E3D58;
    margin: 0 1rem 0 1rem;
 }

 .box-foto{
    height: 14rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
 }

 .foto{
    background: url(img/altumcode-XMFZqrGyV-Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
 }

 .foto1{
   background: url(img/clement-helardot-95YRwf6CNw8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
 }

 .foto2{
   background: url(img/james-harrison-vpOeXr5wmR4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
 }

 .foto3{
   background: url(img/nordwood-themes-bJjsKbToY34-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
 }

 .foto4{
   background: url(img/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
 }

 .foto5{
   background: url(img/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
 }

 .box-label{
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
   
 }

 .box-circle{
    width: 3.4rem;
    height: 3.4rem;
    background: #1E3D58;
    border: 0.3rem #E8EEF1 solid;
    border-radius: 50%;
    position: absolute;
    top: 12rem;
    left: 11rem;

 }

 .box-link{
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 2rem;
    
 }

 .box-link a{
  text-decoration: none;
  
   
}

.box-link a:hover{
   color: #57A0D3;

    
 }

/* Footer */

footer{
   height: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #1E3D58;
   color: #E8EEF1;
}

footer a{
  margin: 0 1rem;
  color: #E8EEF1;

}

footer a:hover{
   color: #57A0D3;

}

@media(max-width: 1350px){
   .big{
      height: 100rem;
    }
   
    #main{
      height: 100rem;     
    }
}

@media(max-width: 900px){
   .big{
      height: 190rem;
    }
   
    #main{
      height: 190rem;
    }
}


@media(max-width: 750px){
   header{
      justify-content: space-evenly;
   }

   header img{
      width: 260px;
      margin: 0.5rem 0 0 0;
   }
  
  ul {
      display: none;
      flex-direction: column;
      width: 50%;
      height: 100vh;
      position: absolute;
      background-color: #fff; 
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      top: -1.7rem;
      left: 0;
      opacity: 0.95;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
     
  }

  li a{
      margin-left: -2rem;
      font-size: 1.2rem;
  }


    .navbar-btn{
        display: block;
        cursor: pointer;
        margin-top:  1.3rem;
        margin-right: 0.2rem;
     }

  

    ul.show {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    

   article{
      height: 34rem;
      margin-top: 3rem;
   }
  
   article p{
      width: 20rem;
    
      
   }
  
   p span{
     display: inline;
   }
  
   h1{
      font-size: 2rem;
      font-weight: 700;
   }

}

@media(max-width: 500px){

   .projects-container{
      width: 20rem;
      height: 25rem;
      
   }
   .big{
      height: 170rem;
    }
   
    #main{
      height: 170rem;

    }

    .box-circle{
     display: none;
  
   }
}
